// @import 'variables';
// @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap');

// *,
// *::before,
// *::after {
//     box-sizing: border-box;
// }
// body {
//     margin: 0;
// font-family: $primary-text;
// font-weight: 400;
// font-size: 1.3125rem;
// line-height: 1.6;
// color: $primary-text-clr;
// }

// h1,
// h2,
// h3,
// P {
//     margin: 0;
// }
// h1,
// h2,
// h3 {
//     line-height: 1;
// }
// h2,
// h3,
// p
// {
//     margin-bottom: 1em;
// }

// img, iframe{
//     display: block;
//     max-width: 100%;
// }
// .form-container {
//     margin: 0 auto;
//     padding: 1rem;
//     width: 40%;
//     // display: flex;
//     // justify-content: center;
//   background: linear-gradient(
//       110deg,
//       rgba($block1, 1) 5%,
//       rgba($block1, .8) 20%,
//       rgba($block1, .7) 30%,
//       rgba($block1, .5) 50%,
//       rgba($block1, .3) 60%,
//       rgba($block1, .3) 70%,
//       rgba($block1, .3) 80%,
//       rgba($block1, .3) 100%,
//       transparent 50%
//     ),
//     // url('../img/adobeCloud.jpeg')center/cover;
// }
// .width {
// //    display: flex;
// //    justify-content: center;
//     // width: 30vw;
   
// }
@import 'variables';
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap');

*,
*::before,
*::after {
    box-sizing: border-box;
}
body {
    margin: 0;
font-family: $primary-text;
font-weight: 400;
font-size: 1.3125rem;
line-height: 1.6;
color: $primary-text-clr;
}

h1,
h2,
h3,
P {
    margin: 0;
}
h1,
h2,
h3 {
    line-height: 1;
}
h2,
h3,
p
{
    margin-bottom: 1em;
}

img{
    display: block;
    max-width: 100%;
    //    transition: all 0.3s ease-out;
//        &:hover {
//     	transform: scale(1.2, 1.2);
// 	z-index: 9;
// }
header {
    height: 40vh;
}


}
.btn {
    display: inline-block;
    text-decoration: none;
    font-weight: 600;
    color: var(--clr-text, #fff);
    text-transform: uppercase;
    font-size: 1.125em;
    padding: .5em 1.25em;
    border-radius: .25em;
    background: var(--clr-accent, #cf003a);
    transition: 
    transform 250ms ease-in-out, 
    opacity 250ms linear;
}
.btn:hover,
.btn:focus {
    transform: scale(1.1);
    opacity: .9;
}
.container {
    width: 85%;
    max-width: 65em;
    margin: 0 auto;
}
.split{
    display: flex;
    gap: 1.8em;
    flex-wrap: wrap;
    justify-content: center;
 & > *{
flex-basis: 40%;
min-width: 15em;
 }
}
.spacing > *+* {
    margin-top: var(--spacer, 2rem);
     @media(max-width: 40em) {
         margin-top: .5rem;
     }
}

.primary-title{
    font-size: 4rem;
font-size: clamp(3rem, calc(5vw +1rem), 4.5rem);
line-height: 1.1;
text-transform: uppercase;
}
.logo {
    position: absolute;
    top: 2rem;
    left: -2rem;
  .logo-img {
    height: 2rem;
  }
}
.hero {
    color:#faf9f9;
    text-align: center;
    padding: 3em 0;
    height: 50vh;
    background: radial-gradient(
   #008bd3, #00578a);
    position: relative;

    // clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
    // @supports ( background-blend-mode: multiply){
    // background: url("../img/adobeBuilding.png"), 
    // radial-gradient(rgb(49, 49, 49), #111);
    // background-blend-mode: multiply;
    // background-attachment: fixed;
    // background-repeat: no-repeat;
    // background-position: center center;
    // }
     @media(max-width: 40em) {
         padding: 7.5em 0;
     }
}
section {
    padding: 3rem 0;
    @media(max-width: 40em) {
   .bottom {
    margin-top: 2rem;
}
}

}
.split{
    display: flex;
    flex-direction: column;
    .split-2 {
        // margin-top: -10rem;
        z-index: 1;
        @media(max-width: 47em) {
            margin-top: 1rem;
        }
    }

@media (min-width: 40em) {
   
        flex-direction: row;
    }
    .split > * {
        flex-basis: 100%;
    }
    .split > * + * {
        margin-left: 2em;
    }
}

.text-center {
    text-align: center;
}
.container {
    margin-inline: auto;
    min-width: 90%;
    max-width: 70.5em;
}

.bg-one {
    color:#faf9f9;
    background: radial-gradient(
   #4edbf4, #00abd4);
    position: relative;
//   @supports ( background-blend-mode: multiply){
//     background: url("../img/adobeBuilding.png"), 
//     radial-gradient(rgb(49, 49, 49), #111);
//     background-blend-mode: multiply;
//     background-attachment: fixed;
//     background-repeat: no-repeat;
//     background-position: center center;
//     }
}
.bg-two {
   background: radial-gradient(
   #4edbf4, #00abd4);
   color:#faf9f9;

}
.bg-three {
     background: radial-gradient(
   #Feed4c, #ffc500);
}


footer{
    background-color:$block4;
    .logo-img-sm{
        display: flex;
        height:3rem;
    }
}
.cira{
    font-size: .5em;
    padding: 1rem 0;
    text-align: center;
    color:#faf9f9;
}









// #pardot-form {
// color: red ;
// font: 13px/120% Tahoma,Arial,Helvetica,Verdana,sans-serif;
// margin: 0.5em 0 1em;
// padding: 0.5em;
// }
 form.form p label {
		        text-align: left;
		        width: inherit;
		        font-size: calc(.24vw + 1rem) !important;
		        font-family: Montserrat;
                font-weight: 400;
                font-style: normal;
                letter-spacing: 0em;
                text-transform: none;
                line-height: 1.5em;
		    } 
		    form.form p.submit {
		        margin: 1em 0 0 0;
		        font-family: Montserrat !important;
                font-weight: 400;
                font-style: normal;
                letter-spacing: 0em;
                text-transform: none;
                line-height: 1.5em;
		    }
		    
		    form.form input.text {
    		    width: 100%;
                padding: 12px;
                margin: 6px 0 4px;
                // border: 1px solid #ccc;
                background: #fafafa;
                color: #000;
                font-family: Montserrat !important;
                font-size: 12px;
                line-height: normal;
                box-sizing: border-box;
                border-radius: 2px;
		    }
		    form.form textarea.standard {
                width: 100%;
                padding: 12px;
                margin: 6px 0 4px;
                border: 1px solid #ccc;
                background: #f9f9f9;
                color: #000;
                font-family: Montserrat !important;
                font-size: 12px;
                line-height: normal;
                box-sizing: border-box;
                border-radius: 2px;
            }
            form.form p.submit input {
                border-width: 2px;
                border-style: none;
                border-radius: 5px;
                padding: 1rem;
                cursor: pointer;
                background-color: #cf003a;
                font-size: calc(.24vw + 1rem) !important;
		        font-family: Montserrat;
                font-weight: 400;
                transform: all .2s ease-in;
            }
            form.form p.submit input:hover {
                background-color:rgba(207, 0, 58, .5) !important;
                color:white;
                
            }
            form.form p.submit {
                margin-left: 6px;
            }
            .g-recaptcha {
                margin-left: 6px;
            }